<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <title>Genequine</title>
</head>
<body>
<p>Horse ({{ horse.qid }})</p>
<p>Coefficient de consanguinité : {{ horse.inbreeding_coefficient }}%</p>
<p>Date de calcul : {{ horse.calculation_timestamp }}</p>
<p>Tous les chevaux :</p>
<ul>
    {% for h in all_horses %}
        <li>{{ h }}</li>
    {% endfor %}
</ul>
</body>
</html>